rich
numpy
protobuf>=3.17.3
python-can==3.3.4
python-socketio==5.3.0
pyserial
tornado
msgpack
dnspython==1.16.0
websockets
cantools==36.2.0
aiohttp
flask
flask-socketio
psutil
eventlet
python-nmap
openpyxl
tqdm
zmq
opencv-python==4.1.2.30
matplotlib
paho-mqtt
nnpy
colorlog
