[Desktop Entry]
Encoding=UTF-8
Name=PCVIEW-BYD
Exec=sh /home/pcview/sudo_run.sh
Icon=/home/minieye/env/dist/assets/pcview.png
Info="pcview"
Terminal=true
Type=Application
StartupNotify=true
