[Desktop Entry]
Encoding=UTF-8
Name=PCVIEW-BYD
Exec=sh /home/minieye/env/dist/assets/pcview-byd.sh
Icon=/home/minieye/env/dist/assets/pcview.png
Info="pcview"
Terminal=false
Type=Application
StartupNotify=true
