[Desktop Entry]
Encoding=UTF-8
Name=PCVIEWER
Exec=sh  /home/minieye/Documents/pc-viewer/pc-viewer.sh
Icon=/home/minieye/Documents/pc-viewer/assets/adas.jpg
Info="pc-viewer"
Terminal=false
Type=Application
StartupNotify=true
