[Desktop Entry]
Encoding=UTF-8
Name=PCVIEW
Exec=sh /home/minieye/env/dist/pcview.sh
Icon=/home/minieye/env/dist/assets/pcview.png
Info="pcview"
Terminal=false
Type=Application
StartupNotify=true
